{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="main-banner-row">
    <div class="main-banner-row-slider">
        <div class="slider">
            <img src="img/banners/banner-slider-1.webp" alt="Изображение 1" class="slide">
            <img src="img/banners/banner-slider-2.webp" alt="Изображение 2" class="slide">
            <img src="img/banners/banner-slider-3.webp" alt="Изображение 3" class="slide">
        </div>
    </div>
    <div class="main-banner-row-new">
        <img class="main-banner-row-new-img" src="img/banners/banner-new.jpg" alt="New">
    </div>
</div>

<div class="main-roww">
    <a href="#" class="main-hits-title">Хиты продаж</a>
    <div class="main-hits-row">
        <div class="main-hits-row-card">
            <img class="main-hits-row-card-img" src="img/posters/yuYek8xVt8hOORf6GFQFJXnUaaTaIzshq8pjoq9Q-636x_.jpg" alt="Logo Card">
            <br>
            <a class="main-hits-row-card-name" href="#">Beast Complex. Звериный комплекс. Том 2</a>
            <p class="main-hits-row-card-price">755 ₽</p>
            <a class="main-hits-row-card-btn" href="#">В корзину</a>
        </div>
        <div class="main-hits-row-card">
            <img class="main-hits-row-card-img" src="img/posters/yuYek8xVt8hOORf6GFQFJXnUaaTaIzshq8pjoq9Q-636x_.jpg" alt="Logo Card">
            <br>
            <a class="main-hits-row-card-name" href="#">Beast Complex. Звериный комплекс. Том 2</a>
            <p class="main-hits-row-card-price">755 ₽</p>
            <a class="main-hits-row-card-btn" href="#">В корзину</a>
        </div>
        <div class="main-hits-row-card">
            <img class="main-hits-row-card-img" src="img/posters/yuYek8xVt8hOORf6GFQFJXnUaaTaIzshq8pjoq9Q-636x_.jpg" alt="Logo Card">
            <br>
            <a class="main-hits-row-card-name" href="#">Beast Complex. Звериный комплекс. Том 2</a>
            <p class="main-hits-row-card-price">755 ₽</p>
            <a class="main-hits-row-card-btn" href="#">В корзину</a>
        </div>
        <div class="main-hits-row-card">
            <img class="main-hits-row-card-img" src="img/posters/yuYek8xVt8hOORf6GFQFJXnUaaTaIzshq8pjoq9Q-636x_.jpg" alt="Logo Card">
            <br>
            <a class="main-hits-row-card-name" href="#">Beast Complex. Звериный комплекс. Том 2</a>
            <p class="main-hits-row-card-price">755 ₽</p>
            <a class="main-hits-row-card-btn" href="#">В корзину</a>
        </div>
        <div class="main-hits-row-card">
            <img class="main-hits-row-card-img" src="img/posters/yuYek8xVt8hOORf6GFQFJXnUaaTaIzshq8pjoq9Q-636x_.jpg" alt="Logo Card">
            <br>
            <a class="main-hits-row-card-name" href="#">Beast Complex. Звериный комплекс. Том 2</a>
            <div class="prices">
                <a class="main-hits-row-card-price-sale">980 ₽</a>
                <p class="main-hits-row-card-price-through"> 755 ₽</p>    
            </div>
            <a class="main-hits-row-card-btn" href="#">В корзину</a>
        </div>
    </div>
</div>

<div class="main-roww">
    <a href="#" class="main-hits-title">Манга</a>
    <div class="main-hits-row">
        <div class="main-hits-row-card">
            <img class="main-hits-row-card-img" src="img/posters/yuYek8xVt8hOORf6GFQFJXnUaaTaIzshq8pjoq9Q-636x_.jpg" alt="Logo Card">
            <br>
            <a class="main-hits-row-card-name" href="#">Beast Complex. Звериный комплекс. Том 2</a>
            <p class="main-hits-row-card-price">755 ₽</p>
            <a class="main-hits-row-card-btn" href="#">В корзину</a>
        </div>
        <div class="main-hits-row-card">
            <img class="main-hits-row-card-img" src="img/posters/yuYek8xVt8hOORf6GFQFJXnUaaTaIzshq8pjoq9Q-636x_.jpg" alt="Logo Card">
            <br>
            <a class="main-hits-row-card-name" href="#">Beast Complex. Звериный комплекс. Том 2</a>
            <p class="main-hits-row-card-price">755 ₽</p>
            <a class="main-hits-row-card-btn" href="#">В корзину</a>
        </div>
        <div class="main-hits-row-card">
            <img class="main-hits-row-card-img" src="img/posters/yuYek8xVt8hOORf6GFQFJXnUaaTaIzshq8pjoq9Q-636x_.jpg" alt="Logo Card">
            <br>
            <a class="main-hits-row-card-name" href="#">Beast Complex. Звериный комплекс. Том 2</a>
            <p class="main-hits-row-card-price">755 ₽</p>
            <a class="main-hits-row-card-btn" href="#">В корзину</a>
        </div>
        <div class="main-hits-row-card">

            <img class="main-hits-row-card-img" src="img/posters/yuYek8xVt8hOORf6GFQFJXnUaaTaIzshq8pjoq9Q-636x_.jpg" alt="Logo Card">
            <br>
            <a class="main-hits-row-card-name" href="#">Beast Complex. Звериный комплекс. Том 2</a>
            <p class="main-hits-row-card-price">755 ₽</p>
            <a class="main-hits-row-card-btn" href="#">В корзину</a>
        </div>
        <div class="main-hits-row-card">
            <img class="main-hits-row-card-img" src="img/posters/yuYek8xVt8hOORf6GFQFJXnUaaTaIzshq8pjoq9Q-636x_.jpg" alt="Logo Card">
            <br>
            <a class="main-hits-row-card-name" href="#">Beast Complex. Звериный комплекс. Том 2</a>
            <div class="prices">
                <a class="main-hits-row-card-price-sale">980 ₽</a>
                <p class="main-hits-row-card-price-through"> 755 ₽</p>    
            </div>
            <a class="main-hits-row-card-btn" href="#">В корзину</a>
        </div>
    </div>
    <div class="show-all-row">
        <a class="main-hits-show-all" href="#">Посмотреть все товары</a>
    </div>
</div>
{% endblock content %}