{% extends "base.html" %}
{% load static %}
{% load range_values %}

{% block content %}
    <div class="catalog-list-main-row-link">
        <a class="catalog-list-main-row-link-item" href="{% url 'index' %}">Главная</a>
        <p>-</p>
        <a class="catalog-list-main-row-link-item" href="{% url 'catalog' %}">Каталог</a>
        <p>-</p>
        <a class="catalog-list-main-row-link-item" href="{{ product.base.category.get_absolute_url }}">{{ product.base.category.name }}</a>
        <p>-</p>
        <a class="catalog-list-main-row-link-item" href="{{ product.base.get_absolute_url }}">{{ product.base.name }}</a>
    </div>
    <h2 class="product-detail-title">{{ product.base.name }}</h2>
    <div class="product-detail-stars">
        <div class="product-detail-stars-row">
            <div class="rating-result">
                <span class="active"></span>	
                <span class="active"></span>    
                <span class="active"></span>  
                <span></span>    
                <span></span>
            </div>
            <a class="product-detail-stars-row-link" href="#">0 отзывов</a>
        </div>
        <div class="product-detail-stars-forever">
            <a href="#">
                <img src="{% static 'img/icons/icon-love.png' %}" alt="Forever">
                <a href="#" class="product-detail-stars-forever-link">В избранное</a>
            </a>
        </div>
    </div>
    <div class="product-detail-main">
        <div class="product-detail-main-left">
            <img class="product-detail-main-left-img" src="{{ product.base.icon_image.url }}" alt="Poster">
            <div class="product-detail-main-left-text">
                    <h2 class="product-detail-main-left-text-engtitle">{{ product.base.name_eng }}</h2>
                    <p class="product-detail-main-left-text-p">Категория: <a class="product-detail-main-left-text-link" href="{{ product.base.category.get_absolute_url }}">{{ product.base.category.name }}</a></p>
                    <p class="product-detail-main-left-text-p">Источник: <a class="product-detail-main-left-text-link" href="#">{{ product.base.source.name }}</a></p>
                    {% for property in product.characters %}
                        <p class="product-detail-main-left-text-p">{{ property.property.name }}: {% if property.value_string %} {{ property.value_string }} {% elif property.value_integer %} {{ property.value_integer }} {% else %} {% for genre in property.value_genres.all %} <a class="product-detail-main-left-text-link" href="#">{{ genre.name }}</a> {% if not forloop.last %},{% endif %} {% endfor %} {% endif %}</p>
                    {% endfor %}
            </div>
        </div>
        <div class="product-detail-main-right">
            {% if product.base.discount %}
                <p class="product-detail-main-right-orig">Оригинальная цена</p>
                <p class="product-detail-main-right-orig-price">{{ product.base.price }} ₽</p>
                <p class="product-detail-main-right-orig">Специальная цена</p>
                <p class="product-detail-main-right-spec-price">{{product.base.price_discount }} ₽</p>
            {% else %}
                <p class="product-detail-main-right-orig">Оригинальная цена</p>
                <p class="product-detail-main-right-spec-price">{{ product.base.price }} ₽</p>
            {% endif %}
            <a href="#" class="product-detail-main-right-btn">В корзину</a>
            {% if product.base.category.slug == 'odezhda' %}
            <div class="product-detail-clothers-size">
                <div class="product-detail-clothers-size-top">
                    <p class="product-detail-clothers-size-pole">Пол</p>
                    <select class="product-detail-clothers-size-pole-select" name="" id="">
                        <option selected disabled hidden>-</option>
                        <option value="">М</option>
                        <option value="">Ж</option>
                    </select>
                </div>
                <div class="product-detail-clothers-size-bottom">
                    <p class="product-detail-clothers-size-pole">Размер</p>
                    <select class="product-detail-clothers-size-size-select" name="" id="">
                        <option selected disabled hidden>-</option>
                        <option value="">S</option>
                        <option value="">M</option>
                        <option value="">L</option>
                        <option value="">XL</option>
                        <option value="">XXL</option>
                    </select>
                </div>
            </div>
            <a onclick="openPopup()" class="product-detail-sizes-table">Таблица размеров</a>
            {% endif %}
        </div>
    </div>
    <div class="product-detail-desc">
        <h2 class="product-detail-desc-h">Описание</h2>
        <p class="product-detail-desc-text">{{ product.base.description }}</p>
    </div>
    <div class="product-detail-reviews">
        <h2 class="product-detail-reviews-h">Отзывы</h2>
        <form method="POST">
            <textarea class="product-detail-reviews-textarea" placeholder="Оставьте комментарий..." name="comment" id="comment"></textarea>
            <div class="product-detail-reviews-row">
                <div class="product-detail-reviews-stars">
                    <p>Ваша оценка:</p>
                    <div class="rating-area">
                        <input type="radio" id="star-5" name="rating" value="5">
                        <label for="star-5" title="Оценка «5»"></label>	
                        <input type="radio" id="star-4" name="rating" value="4">
                        <label for="star-4" title="Оценка «4»"></label>    
                        <input type="radio" id="star-3" name="rating" value="3">
                        <label for="star-3" title="Оценка «3»"></label>  
                        <input type="radio" id="star-2" name="rating" value="2">
                        <label for="star-2" title="Оценка «2»"></label>    
                        <input type="radio" id="star-1" name="rating" value="1">
                        <label for="star-1" title="Оценка «1»"></label>
                    </div>
                </div>
                <button type="submit" class="product-detail-reviews-link">Отправить</a>
            </div>
        </form>

        <div class="product-detail-reviews-line"></div>
        {% for comment in product.comments %}
            <div class="product-detail-reviews-item">
                <span class="circle-img-product">
                    <img class="profile-row-links-img" src="{{ comment.user.image.url }}" alt="Profile Logo">
                </span>
                <div class="product-detail-reviews-item-column">
                    <div class="product-detail-reviews-name">
                        <h1 class="product-detail-reviews-username">{{ comment.user.username }}</h1>
                        <p class="product-detail-reviews-date">{{ comment.create_date }}</p>
                    </div> 
                    <div class="rating-result">
                        {% for _ in comment.grade|range_values_star %}
                            <span class="active"></span>
                        {% endfor %}
                        {% for _ in comment.grade|range_values_no_star %}
                            <span></span>
                        {% endfor %}
                    </div>
                    <p class="product-detail-reviews-item-desc">{{ comment.review_text }}</p>
                </div> 
            </div>
        {% endfor %}
    </div>

    <div class="popup-sizes">
        <a onclick="closePopup()" class="popup-sizes-close">Закрыть</a>
        <img src="{% static 'img/popup-sizes.png' %}" alt="">
    </div>
    <script src="{% static 'js/popup-sizes.js' %}"></script>
{% endblock content %}